BETTER_AUTH_SECRET=KeNjEP9DhZPbzX7psbLqoPCIbiOM8uKf
BETTER_AUTH_URL=http://localhost:3001
CORS_ORIGIN=http://localhost:3001

#DB
DATABASE_PROVIDER=neon
DATABASE_URL=

#AI
AI_TEMPERATURE=0
AI_KEY=

#s3
S3_ENDPOINT=https://s3.cloud.ru
S3_REGION=ru-central-1
S3_KEY_ID=
S3_SECRET_KEY=
S3_TENAT_KEY=
S3_BUCKET=

# RESEND 
RESEND_API_KEY=
EMAIL_FROM=

# Upstash
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_URL=